.about {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	height: 100vh;
	.heading {
		width: 100%;
		text-align: center;
	}
	.text {
		width: 90%;
		position: relative;
		z-index: 1;
		font-size: 20px;
		&::after {
			z-index: -1;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			opacity: 0.5;
			content: "";
			width: 400px;
			height: 400px;
			background-image: url("../public/ninja-attack.png");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
}
